.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    padding-top: 25px;
}

label, input {
    margin: 5px;
}

input {
    width: 200px;
    margin-bottom: 25px;
}

h4 {
    margin-top: 40px;
}